<style>
body {
	
background-color: transparent;
color: red;
padding: 200px;
font-family: Arial, Verdana, sans-serif;
}
h1 {
background-color: DarkCyan;
padding: inherit;}
p {
background-color: white;
color: rgb(100,100,90);
padding: inherit;
}

body {
		background-image: url("../img/image.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}
.box {
float: left;
width: 400px;
height: 300px;
border: 1px solid #665544;
background-color:transparent;
margin: 20px;
}
.box3{
clear: both;
</style>
